.entry-select-container {
    display: flex;
    flex-direction: row;
    width: 18%;
    justify-content: space-between;
    min-width: 200px;
    height: 100%;
}

.text-style {
    display: flex;
    align-items: center;
    color: var(--PRIMARY-800);
    font-weight: bold;
    font-size: 14px;
}

.entry-values {
    width: 100px;
    display: flex;
    align-items: center;
    height: 100%;
}