.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.input-label {
    color: var(--PRIMARY-800);
    font-weight: bold;
    font-size: 14px;
}

.input-style {
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--PRIMARY-600);

}