.adress-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.adress-field {
    text-align: left;
    border: 1px solid var(--PRIMARY-600);
    padding-bottom: 10px;
    padding-left: 15px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.field-container {
    width: 90%;
}