.error-message {
    font-size: 150px;
    color: #fff;
    padding-top: 100px;
}

.link-home {
    margin-top: 150px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.link-home a {
    color: var(--PRIMARY-600);
}

.link-home a:hover {
    color: var(--PRIMARY);
}