.data-table {
    margin-top: 20px;
    width: 90%;
    background: #fff;
}

.table {
    background: var(--PRIMARY-100);
    width: 100%;
    border-spacing: 0px 2px;
}


.header-label-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.table-header {
    background: var(--PRIMARY-600);
    min-height: 30px;
    height: 50px;
}

.header-label {
    min-width: 10%;
    width: 150px;
}

.table-body {
    margin-top: 3px;
    background: var(--PRIMARY-100);
}

.body-table-row {
    background: #fff;
    min-height: 30px;
    height: 50px;
    align-items: center;
    margin-top: 3px;
}

.row-cell {
    min-width: 20%;
    text-align: left;
    padding-left: 20px;
}